/*General*/
p,h1,h2,h3,h4 {
  margin: 5px;
  padding: 5px;
}

/*Header*/
.featurette-image {
  width: auto;
  height: 250px;
  padding: 15px;
}

.featurette-image#me {
	margin-right: -10px;
}

@media(max-width: 768px) {
  .featurette-image#me {
    margin-left: auto;
    margin-right: auto;
  }
}

p.lead {
	font-size: 18px;
}

/*About me*/
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
  padding-right: 30px;
  padding-left: 20px;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
}

.marketing h1 {
  text-align: center;
}

.featurette-image#book {
	width: 250px;
	height: auto;
}

.featurette-image#teacher {
  padding-left: 220px;
}

@media (max-width: 1028px) {
  .featurette-image#teacher {
    padding-left: 130px;
  }
}

@media(max-width: 768px) {
  .featurette-image#teacher {
    padding-left: 0px;
  }
}

@media(max-width: 1028px) {
  .featurette-image#laptop {
    padding-left: 50px;
  }
}

@media(max-width: 768px) {
  .featurette-image#laptop {
    padding-left: 0px;
  }
}

/*Buttons*/
.btn-read {
	color: white;
  	background-color: #fed136;
  	border-color: #fed136;
  	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  	text-transform: uppercase;
  	font-weight: 700;
  	border-radius: 20px;
  	font-size: 15px;
  	padding: 10px 20px;
    margin-bottom: 50px;
}

/*Glyphs and devicons*/
.glyph {
  max-width: 25px;
  max-height: 25px;
  margin-left: 5px;
}

#academia {
  font-size: 20px;
  text-align: center;
}

.devicons {
  font-size: 8em;
}

.devicon-html5-plain-wordmark {
  color: orange;
}

.devicon-css3-plain-wordmark {
  color: navy;
}

.devicon-javascript-plain {
  color: green;
}

.devicon-nodejs-plain-wordmark {
  color: limegreen;
}

.devicon-bootstrap-plain-wordmark {
  color: purple;
}

.devicon-github-plain-wordmark {
  color: #000;
}

.devicon-jquery-plain-wordmark {
  color: lightblue;
}

.devicon-photoshop-line {
  color: red;
}

.devicon-react-original-wordmark {
  color: maroon;
}

@media (max-width: 425px) {
  .col-sm-4 {
    float: left;
    width: 30%;
  }
}

@media (max-width: 320px) {
  .col-sm-4 {
    float: left;
    width: 40%;
  }
}

/*Scrolling nav + sections*/
@media(min-width:768px) {
    .navbar {
        padding: 0px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.student-section {
    background-color: aliceblue;
}

.teacher-section {
    background-color: white;
}

.programmer-section {
    background-color: aliceblue;
}

.degree-section {
    background-color: white;
}

.contact-section {
    padding-top: 80px;
    text-align: center;
    padding-bottom: 40px;
    background-color: aliceblue;
    padding-bottom: 40px;
}

#h3-contact {
  color: white;
}

#portfolio {
  background-color: aliceblue;
}